:local {
  .wrapper {

  }

  .header {
    margin-bottom: 20px;
  }

  .form {
    margin: 20px -24px;
    position: relative;
    padding: 20px 35px 30px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5
  }

  .leftColumn {
    width: 400px;
    margin-right: 20px;
    border-right: 1px solid #e5e5e5;
  }

  .item {
    margin-bottom: 10px;
  }

  .search {
    margin-top: 10px;
  }

  .input {
    width: 150px;
  }

  .rightColumn {

  }
}
